@model ShitForum.ViewComponents.Models.PagerViewModel

<nav class="pagination" role="navigation" aria-label="pagination">
    <a class="pagination-previous" @(Model.PageNumber > 1 ? "" : "disabled")>Previous</a>
    <a class="pagination-next" @(Model.PageNumber + 1 < Model.NumberOfPages ? "" : "disabled") asp-route-pageNumber="@(Model.PageNumber + 1)">Next page</a>
    <ul class="pagination-list">
        @foreach (var i in Model.PagesToShow)
        {
            <li>
                <a class="pagination-link @(Model.PageNumber == i? "is-current": "")" asp-route-pageNumber="@i" aria-label="Page @i" aria-current="page">@i</a>
            </li>
        }
    </ul>
</nav>
