<!DOCTYPE html>
@inject ShitForum.SettingsObjects.ForumSettings ForumSettings
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @ForumSettings.ForumName</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a asp-page="/Index" class="navbar-brand">@ForumSettings.ForumName</a>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" asp-page="/Index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" asp-page="/About">About</a></li>
                </ul>
            </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - @ForumSettings.ForumName</p>
            <p id="cookie-warning">This website uses cookies. By continuing to use our site, you agree to our use of cookies</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/jquery.min.js">
        </script>
        <script src="~/js/bootstrap.min.js">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
