@page
@model ShitForum.Pages.AdminModel
@{
    ViewData["Title"] = "Admin";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Admin</li>
    </ol>
</nav>

<h2>Admin</h2>
@Model.Model.Message
<div asp-validation-summary="All"></div>
<form method="post">
    <input name="key" placeholder="Key" />
    <input class="btn btn-primary" type="submit" />
</form>

@if (Model.Model.IsAdmin)
{
    <div class="row"><div class="col">Banned IPs - @Model.Model.BannedUsers.Count</div></div>
    foreach (var a in Model.Model.BannedUsers)
    {
        <div class="row">
            <div class="col-4">@a.IpHash</div>
            <div class="col-4">@a.Expiry</div>
            <div class="col-4">@a.Reason</div>
        </div>
    }
    <div class="row"><div class="col">Banned Images - @Model.Model.BannedImages.Count</div></div>
    foreach (var a in Model.Model.BannedImages)
    {
        <div class="row">
            <div class="col-6">@a.Hash</div>
            <div class="col-6">@a.Reason</div>
        </div>
    }
}
