@page
@model ShitForum.Pages.BanImageModel
@{
    ViewData["Title"] = "BanImage";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-page="Board" asp-route-id="@Model.Post.Board.BoardId">@Model.Post.Board.BoardName</a></li>
        <li class="breadcrumb-item"><a asp-page="Thread" asp-route-id="@Model.Post.ThreadId">@Model.Post.ThreadId</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Post.Id</li>
    </ol>
</nav>

<h2>Ban Image</h2>

<form method="post">
    <div class="form-group">
        Reason:
        <input class="form-control" asp-for="Reason" type="text" placeholder="reason" />
    </div>
    <input class="btn btn-primary" type="submit" />
</form>
