@page
@model ShitForum.Pages.BanUserModel
@{
    ViewData["Title"] = "BanUser";
}

<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a asp-page="Index">Home</a></li>
        <li><a asp-page="Board" asp-route-boardKey="@Model.Post.Board.BoardKey">@Model.Post.Board.BoardName</a></li>
        <li><a asp-page="Thread" asp-route-boardKey="@Model.Post.Board.BoardKey" asp-route-threadId="@Model.Post.ThreadId">@Model.Post.ThreadId</a></li>
        <li class="is-active" aria-current="page">@Model.Post.Post.Id</li>
    </ul>
</nav>

<h2>Ban User</h2>
<vc:post-view p="Model.Post.Post" />

<form method="post">
    <div class="form-group">
        Reason:
        <input class="form-control" asp-for="Reason" type="text" placeholder="reason" />
    </div>
    <div class="form-group">
        Expiry:
        <input class="form-control" asp-for="Expiry" type="date" placeholder="reason" />
    </div>
    <input class="btn btn-primary" type="submit" />
</form>
