@page
@model ShitForum.Pages.BoardModel
@inject ReCaptchaCore.RecaptchaSettings RecaptchaSettings
@{
    ViewData["Title"] = "Board";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Board.BoardName</li>
    </ol>
</nav>
<form asp-page="Board" method="get">
    <input type="hidden" value="@Model.Board.Id" name="id" />
    <input placeholder="Search OPs..." name="filter" value="@Model.Filter" type="text" />
</form>
[<a asp-page="Catalog" asp-route-id="@Model.Board.Id">Catalog</a>]

@{
    foreach (var thread in Model.Threads)
    {
        <div class="row">
            <div class="col">
                @thread.OP.Name
                @thread.OP.Created
                No. <a asp-page="Thread" asp-route-id="@thread.ThreadId">@thread.ThreadId</a>
            </div>
        </div>
        <div class="row">

            <div class="col-md-3">
                <a asp-page="Thread" asp-route-id="@thread.ThreadId">@thread.Subject</a>
            </div>
        </div>
        @if (thread.OP.File.HasValue)
        {<a asp-page="Thread" asp-route-id="@thread.ThreadId">
                <img src="@Url.Action("GetPostThumbnail", "Images", new { id = thread.OP.Id })" />
            </a>
        }
        <div class="row">
            <div class="col-md-12">
                @thread.OP.Comment
            </div>
        </div>
        <div class="row">
            <div class="col">
                @($"{thread.PostCount} replies and {thread.ImageCount} images omitted.")
                <a asp-page="Thread" asp-route-id="@thread.ThreadId">Click here</a> to view.
            </div>
        </div>
        <hr />
    }
}

    Add a new thread

<div asp-validation-summary="All"></div>
<form id="post-form" method="post" enctype="multipart/form-data">
    <div class="form-group">Name: <input class="form-control" asp-for="Thread.Name" /></div>
    <div class="form-group">Options: <input class="form-control" asp-for="Thread.Options" /></div>
    <div class="form-group">Subject: <input class="form-control" asp-for="Thread.Subject" /></div>
    <div class="form-group">Comment: <textarea class="form-control" asp-for="Thread.Comment"></textarea></div>
    <div class="form-group">File: <input class="form-control" asp-for="Thread.File" type="file" /></div>
    <input asp-for="Thread.BoardId" type="hidden" />
    <button class="btn btn-primary g-recaptcha" data-callback="onSubmit"
            data-sitekey="@RecaptchaSettings.PublicKey">
        Post
    </button>
</form>
