@page
@model ShitForum.Pages.CatalogModel
@{
    ViewData["Title"] = "Board";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Catalog @Model.Board.BoardName</li>
    </ol>
</nav>
<hr/>
[<a asp-page="Board" asp-route-id="@Model.Board.Id">Return</a>]
<hr />
<div class="row">
    @foreach (var thread in Model.Threads)
    {
        <div class="col-4">
            <div class="card">
                <a asp-page="Thread" asp-route-id="@thread.ThreadId">
                    <img class="card-img-top" src="@Url.Action("GetPostThumbnail", "Images", new { id = thread.FirstPost.Id })" alt="@thread.Subject">
                </a>
                <div class="card-body">
                    <span class="card-title">
                        @thread.Subject
                        @thread.FirstPost.Name
                        @thread.FirstPost.Created
                        No. <a asp-page="Thread" asp-route-id="@thread.ThreadId">@thread.ThreadId</a>
                    </span>
                    <p class="card-text">@thread.FirstPost.Comment</p>
                </div>
            </div>
        </div>
    }
</div>
