@page "{boardKey}"
@model ShitForum.Pages.CatalogModel
@{
    ViewData["Title"] = "Board";
}
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a asp-page="Index">Home</a></li>
        <li class="is-active" aria-current="page">Catalog @Model.Board.BoardName</li>
    </ul>
</nav>
<hr />
[<a asp-page="Board" asp-route-id="@Model.Board.Id">Return</a>]
<hr />
<div class="columns">
    @foreach (var thread in Model.Threads)
    {
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <a asp-page="Thread" asp-route-threadId="@thread.ThreadId" asp-route-subject="@thread.Subject">
                            <img src="@Url.Action("GetPostThumbnail", "Images", new { postId = thread.OP.Id })" alt="@thread.Subject">
                        </a>
                    </figure>
                    <div class="media-content">
                        <p class="title is-4">@thread.Subject</p>
                        <p class="subtitle is-6">@thread.OP.Name</p>
                        <vc:date-time-view p="thread.OP" />
                        No. <a asp-page="Thread" asp-route-threadId="@thread.ThreadId"><vc:friendly-guid g="thread.ThreadId" /></a>
                    </div>
                </div>
                <div class="content">
                    @thread.OP.Comment
                </div>
            </div>
    }
</div>
