@page "{boardKey}/{threadId}/{subject?}"
@using Microsoft.Extensions.Options
@model ShitForum.Pages.ThreadModel
@inject IOptions<ReCaptchaCore.RecaptchaSettings> RecaptchaSettings
@inject ImageValidation.IValidateImage ValidateImage
@{
    ViewData["Title"] = "Thread";
}
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a asp-page="Index">Home</a></li>
        <li><a asp-page="Board">@Model.Thread.Board.BoardName</a></li>
        <li class="is-active" aria-current="page">@Model.Thread.ThreadId - @Model.Thread.Subject</li>
    </ul>
</nav>
<hr />
<div class="columns">
    <div class="column">
        <span>[<a asp-page="Board" asp-route-id="@Model.Thread.Board.BoardId">Board</a>]</span>
        <span>[<a asp-page="Catalog" asp-route-id="@Model.Thread.Board.BoardId">Catalog</a>]</span>
    </div>
    <div class="col">
        <div class="float-right">
            @($"{Model.Thread.Stats.Replies} / {Model.Thread.Stats.Images} / {Model.Thread.Stats.Posters} / {Model.Thread.Stats.Page}")
        </div>
    </div>
</div>
<hr />

@foreach (var post in Model.Thread.Posts)
{
    <div class="columns">
        <div class="column">
            @post.Name
            <vc:date-time-view p="post" />
            No. <a asp-route-id="@Model.Thread.ThreadId" asp-route-replyto="@post.Id"><vc:friendly-guid g="post.Id" /></a>
            @if (Model.IsAdmin)
            {
                <a asp-route-id="@post.Id" asp-page="DeletePost">[Delete]</a>
                <a asp-route-id="@post.Id" asp-page="BanUser">[Ban]</a>
                if (post.File.HasValue)
                {
                    <a asp-route-id="@post.Id" asp-page="BanImage">[Ban Image]</a>
                }

            }
        </div>
    </div>
    <vc:post-view p="post" />
}

<hr />
<h5>Add a new Post</h5>

<div asp-validation-summary="All"></div>
<form id="post-form" method="post" enctype="multipart/form-data">
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input class="input" asp-for="Post.Name" />
        </div>
    </div>
    <div class="field">
        <label class="label">Options</label>
        <div class="control">
            <input class="input" asp-for="Post.Options" />
        </div>
    </div>
    <div class="field">
        <label class="label">
            Comment
        </label>
        <div class="control">
            <textarea class="textarea" asp-for="Post.Comment"></textarea>
        </div>
    </div>
    <div class="field">
        <label class="label">
            File
        </label>
        <div class="file">
            <label class="file-label">
                <input class="file-input" asp-for="Post.File" type="file" accept="@string.Join(",", ValidateImage.AllowedExtensions())" />
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Choose a file…
                    </span>
                </span>
            </label>
        </div>
    </div>
    <input asp-for="Post.ThreadId" type="hidden" />
    <button class="button g-recaptcha" data-callback="onSubmit" data-sitekey="@RecaptchaSettings.Value.PublicKey">Post</button>
</form>
