@page "{boardKey}/{threadId}/{subject?}"
@model ShitForum.Pages.ThreadModel
@inject ReCaptchaCore.RecaptchaSettings RecaptchaSettings
@inject ImageValidation.IValidateImage ValidateImage
@{
    ViewData["Title"] = "Thread";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-page="Board">@Model.Thread.Board.BoardName</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Thread.ThreadId - @Model.Thread.Subject</li>
    </ol>
</nav>
<hr />
<div class="row">
    <div class="col">
        <span>[<a asp-page="Board" asp-route-id="@Model.Thread.Board.BoardId">Board</a>]</span>
        <span>[<a asp-page="Catalog" asp-route-id="@Model.Thread.Board.BoardId">Catalog</a>]</span>
    </div>
    <div class="col">
        <div class="float-right">
            @($"{Model.Thread.Stats.Replies} / {Model.Thread.Stats.Images} / {Model.Thread.Stats.Posters} / {Model.Thread.Stats.Page}")
        </div>
    </div>
</div>
<hr />

@foreach (var post in Model.Thread.Posts)
{
    <div class="row">
        <div class="col">
            @post.Name
            <vc:date-time-view p="post" />
            No. <a asp-route-id="@Model.Thread.ThreadId" asp-route-replyto="@post.Id"><vc:friendly-guid g="post.Id" /></a>
            @if (Model.IsAdmin)
            {
                <a asp-route-id="@post.Id" asp-page="DeletePost">[Delete]</a>
                <a asp-route-id="@post.Id" asp-page="BanUser">[Ban]</a>
                if (post.File.HasValue)
                {
                    <a asp-route-id="@post.Id" asp-page="BanImage">[Ban Image]</a>
                }

            }
        </div>
    </div>
    <vc:post-view p="post" />
}

<hr />
<h5>Add a new Post</h5>

<div asp-validation-summary="All"></div>
<form id="post-form" method="post" enctype="multipart/form-data">
    <div class="form-group">Name: <input class="form-control" asp-for="Post.Name" /></div>
    <div class="form-group">Options: <input class="form-control" asp-for="Post.Options" /></div>
    <div class="form-group">Comment: <textarea class="form-control" asp-for="Post.Comment"></textarea></div>
    <div class="form-group">File: <input class="form-control-file" asp-for="Post.File" type="file" accept="@string.Join(",", ValidateImage.AllowedExtensions())" /></div>
    <input asp-for="Post.ThreadId" type="hidden" />
    <button class="btn btn-primary g-recaptcha" data-callback="onSubmit" data-sitekey="@RecaptchaSettings.PublicKey">Post</button>
</form>
